{% extends "contact_form/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

 {% comment %} <form action="{% url 'contact_form' %}" method="POST" class="validate-form" enctype="multipart/form-data" autocomplete="off" novalidate>
    {% csrf_token %}
    {% include 'partials/messages.html' %}
    <span class="contact2-form-title">Contact</span>
    {{ form|crispy }}
    <div class="pl-3 pt-3">
        <button class="btn btn-block btn-light text-light">SEND</button>
    
    </div>
    
                    
</form> {% endcomment %}

 <section class="templateux-hero mb-5"  data-scrollax-parent="true">
      <!-- <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="images/hero_2.jpg" /></div> -->

      <div class="container">
        <div class="row align-items-center justify-content-center intro">
          <div class="col-md-10" data-aos="fade-up">
            <h1>Get in touch</h1>
            <p class="lead">Got a question, concern, start a new project, or just want to say hello? Let me know using the form below</p>
            <a href="#next" class="go-down js-smoothscroll"></a>
          </div>
        </div>
      </div>
    </section>
    <!-- END templateux-hero -->
    
    
    <section class="templateux-portfolio-overlap mb-5" data-aos="fade-up" id="next">
        <div class="container">
        <!-- <div class="row"> -->
            <form action="{% url 'contact_form' %}" method="POST" enctype="multipart/form-data" autocomplete="off" novalidate>{% csrf_token %}
                <div class="row">
                    
                    <div class="col-md-6  mb-4">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-md-6  mb-4">
                        {{ form.email|as_crispy_field }}
                    </div>
                
                </div>
                <div class="w-100"></div>

                <div class="row">
                    <div class="col-md-12  mb-4">
                        {{ form.body|as_crispy_field }}
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <button class="button button--red">Send your message</button>
                    </div>
                </div>
                
            </form>
        </div>
    </section>

{% endblock content %}



