{% extends "base.html" %}

{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col">
    {% block inner %}{% endblock %}
  </div>
</div>
{% endblock %}
