{% extends "blogs/base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% with request.resolver_match.url_name as url_name %}
    {% block head_title %}{% if request.path == '/blogs/create/' %}Create Post{% else %}Update Post{{ object.title }}{% endif %}{% endblock %}
    {% block description %}{% if request.path == '/blogs/create/' %}Create post form{% else %}Update {{ object.description }}{% endif %}{% endblock %}
{% endwith %}
{% block inner %}

{% url 'blogs:create' as create %}
{% url 'blogs:update' blogs.slug as update %}

<form action="." method="POST" enctype="multipart/form-data" autocomplete="off" novalidate>
 {% csrf_token %}
 {% if request.path == create %}
    <h4>Create Post Form</h4>
 {% else %}
    <h2>Update Post Form</h2>
{% endif %}
{{ form|crispy }}
{% if request.path == create %}
    <button type="submit" class="btn btn-primary">CREATE POST</button>
{% else%}
    <button type="submit" class="btn btn-primary">UPDATE POST</button>
{% endif %}


</form>


{% endblock %}





