{% extends "blogs/base.html" %} {% load static i18n %} 
{% block head_title %}{{object.title }}{% endblock %} {% block description %}{{ object.description }}
{% endblock %} 

{% block inner %}
<div class="container">
  <div class="mt-5">
     <h3>{{ object.title }}</h3>
     <div class="py-3">
        {% if object.photo %}
          <img src="{{ object.photo.url }}" alt="{{ object.title}} photo" style="max-width: 300px;" class="img-responsive rounded"/>
        {% endif %}
      </div>

    </div>
    <div>{{ object.get_markdown|safe }}</div>
  </div>

  {% if request.user.is_authenticated %}
  <div class="container">
    <nav>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blogs:update' blog.slug %}"><button type="button" class="btn btn-outline-primary">Edit POST</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blogs:delete' blog.slug %}"><button type="button" class="btn btn-outline-danger">Delete POST</button></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endif %} {% endblock %}
