{% extends "blogs/base.html" %}
{% load static i18n %}

{% block head_title %}{% endblock %}
{% block description %}{% endblock %}

{% block inner %}
{% for blog in blogs %}
<h3><a style="color:#5c6670;text-decoration:none;padding-bottom:2px;border-bottom:2px solid #00bcd4;" href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h3>
<small>{{ blog.description}}</small>
<small>Posted: {{ blog.created }}</small><br />
<small>Updated: {{ blog.updated }}</small>
{% endfor %}
{% endblock %}

