{% extends "blogs/base.html" %} {% load i18n %} {% load crispy_forms_tags %} 
{% block head_title %}Delete Blog{% endblock %} 
{% block description %}Delete blog form{% endblock %} 

{% block inner %}
<div class="container mt-5">
  <form
    action="."
    method="POST"
    enctype="multipart/form-data"
    autocomplete="off"
    novalidate
  >
    {% csrf_token %}
    <div class="container">
      <h4 class="pb-4">Do you want to delete the post: <strong class="text-secondary" style="border-bottom: 2px solid red;">{{ object.title }}</strong> ?</h4>
      <button type="submit" class="btn btn-outline-danger">DELETE Blog</button>
      <a
        class="btn btn-outline-warning"
        href="{% url 'blogs:detail' blog.slug %}"
        >Cancel</a
      >
    </div>
  </form>
</div>

{% endblock %}
